<manifest package="com.cesarvaliente.redisamples"

    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lifecycle.LifecycleDemoActivityA" />
        <activity android:name=".lifecycle.LifecycleDemoActivityB" />
        <activity android:name=".layouts.LayoutDemoActivity" />
        <activity android:name=".services.ServiceDemoActivity" />
        <activity android:name=".recyclerview.RecyclerViewDemoActivity" />
        <activity android:name=".intents.IntentsActivity" />
        <activity android:name=".intents.ExplicitIntentActivity" />
        <activity android:name=".network.PeopleActivity" />

        <service android:name=".services.ServiceDemo" />
        <service android:name=".services.IntentServiceDemo" />

    </application>
</manifest>
